In [52]:
import pandas as pd
from taxipred.utils.constants import TAXI_CSV_PATH

df = pd.read_csv(str(TAXI_CSV_PATH), index_col=0)

df.head(10)

,Time_of_Day,Day_of_Week,Passenger_Count,Traffic_Conditions,Weather,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes,Trip_Price
Trip_Distance_km,,,,,,,,,,
19.35,Morning,Weekday,3.0,Low,Clear,3.56,0.80,0.32,53.82,36.2624
47.59,Afternoon,Weekday,1.0,High,Clear,NaN,0.62,0.43,40.57,NaN
36.87,Evening,Weekend,1.0,High,Clear,2.70,1.21,0.15,37.27,52.9032
30.33,Evening,Weekday,4.0,Low,NaN,3.48,0.51,0.15,116.81,36.4698
NaN,Evening,Weekday,3.0,High,Clear,2.93,0.63,0.32,22.64,15.6180
8.64,Afternoon,Weekend,2.0,Medium,Clear,2.55,1.71,0.48,89.33,60.2028
3.85,Afternoon,Weekday,4.0,High,Rain,3.51,1.66,NaN,5.05,11.2645
43.44,Evening,Weekend,3.0,NaN,Clear,2.97,1.87,0.23,NaN,101.1216
30.45,Morning,Weekday,3.0,High,Clear,2.77,1.78,0.34,110.33,NaN
35.70,Afternoon,Weekday,2.0,Low,Rain,3.39,1.52,0.47,NaN,75.5657

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, 19.35 to 22.85
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Time_of_Day            950 non-null    object
 1   Day_of_Week            950 non-null    object
 2   Passenger_Count        950 non-null    float64
 3   Traffic_Conditions     950 non-null    object
 4   Weather                950 non-null    object
 5   Base_Fare              950 non-null    float64
 6   Per_Km_Rate            950 non-null    float64
 7   Per_Minute_Rate        950 non-null    float64
 8   Trip_Duration_Minutes  950 non-null    float64
 9   Trip_Price             951 non-null    float64
dtypes: float64(6), object(4)
memory usage: 85.9+ KB

In [54]:
df.describe()

,Passenger_Count,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes,Trip_Price
count,950.000000,950.000000,950.000000,950.000000,950.000000,951.000000
mean,2.476842,3.502989,1.233316,0.292916,62.118116,56.874773
std,1.102249,0.870162,0.429816,0.115592,32.154406,40.469791
min,1.000000,2.010000,0.500000,0.100000,5.010000,6.126900
25%,1.250000,2.730000,0.860000,0.190000,35.882500,33.742650
50%,2.000000,3.520000,1.220000,0.290000,61.860000,50.074500
75%,3.000000,4.260000,1.610000,0.390000,89.055000,69.099350
max,4.000000,5.000000,2.000000,0.500000,119.840000,332.043689

In [55]:
print(df.isnull().sum())

Time_of_Day              50
Day_of_Week              50
Passenger_Count          50
Traffic_Conditions       50
Weather                  50
Base_Fare                50
Per_Km_Rate              50
Per_Minute_Rate          50
Trip_Duration_Minutes    50
Trip_Price               49
dtype: int64

In [56]:
future_user_input = df[df['Trip_Price'].isnull()].copy()
len(future_user_input)

49

In [57]:
df.dropna(inplace=True) 
len(df)

595

In [58]:
df.head(15)

,Time_of_Day,Day_of_Week,Passenger_Count,Traffic_Conditions,Weather,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes,Trip_Price
Trip_Distance_km,,,,,,,,,,
19.350000,Morning,Weekday,3.0,Low,Clear,3.56,0.80,0.32,53.82,36.262400
36.870000,Evening,Weekend,1.0,High,Clear,2.70,1.21,0.15,37.27,52.903200
NaN,Evening,Weekday,3.0,High,Clear,2.93,0.63,0.32,22.64,15.618000
8.640000,Afternoon,Weekend,2.0,Medium,Clear,2.55,1.71,0.48,89.33,60.202800
41.790000,Night,Weekend,3.0,High,Clear,4.60,1.77,0.11,86.95,88.132800
9.910000,Evening,Weekday,2.0,High,Clear,2.32,1.26,0.34,41.72,28.991400
9.990000,Night,Weekday,4.0,High,Clear,4.33,0.85,0.43,34.00,27.441500
15.910000,Morning,Weekday,4.0,Low,Clear,4.42,1.77,0.21,114.93,56.716000
26.710000,Afternoon,Weekend,4.0,Low,Rain,4.30,1.59,0.20,111.18,69.004900
30.980000,Afternoon,Weekend,1.0,Low,Rain,4.50,0.84,0.25,57.02,44.778200
105.943550,Night,Weekend,2.0,Low,Rain,3.94,1.69,0.32,23.03,201.869509
18.950000,Night,Weekday,1.0,Low,Clear,3.38,0.78,0.39,54.04,39.236600
138.098328,Evening,Weekend,4.0,Medium,Rain,2.24,1.75,0.32,94.86,280.877302
3.280000,Evening,Weekday,2.0,Medium,Clear,2.88,1.76,0.20,78.04,24.260800
30.770000,Morning,Weekday,1.0,Low,Clear,3.64,1.33,0.13,109.60,58.812100

In [72]:
outliers = df['Trip_Price'].quantile(0.98)
len(df)

595

In [73]:
df = df[df['Trip_Price'] < outliers].copy()
len(df)

583